# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# Virtual environments
.env
.venv
env/
venv/

# Unit test / coverage reports
.tox/
.coverage
.pytest_cache/
htmlcov/

# Jupyter Notebook
.ipynb_checkpoints

# Ignore service account keys
*.json

# Ignore local trained model artifact
model.joblib

# macOS
.DS_Store
